{% load static %}

<html>
    <head>
        
        <title>MOVIE DJANGO</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        
        

    </head>
    <body>
        <div class="header">
            
                <h1><a href="{% url 'toppage' %}">MOVIE DJANGO</a></h1>
                {% if user.is_authenticated %}
                        <ul class="nav-list">
                            <li class="nav-list-item">
                                <a href="{% url 'movie_form' %}"><button type="button" class="btn">UPLOAD</button></a>
                            </li>

                            <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" datadismiss="modal" aria-label="Close">
                                                <span aria-hidden="true" data-dismiss="modal">&times;</span>
                                            </button>
                                            <h5 class="modal-title" id="logoutModalLabel">ログアウトします</h5>
                                                
                                        </div>
                                        <div class="modal-body">
                                            よろしいですか？
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">キャンセル</button>
                                            <a href="{% url 'logout' %}"><button type="button" class="btn btn-danger">ログアウト</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <li class="nav-list-item">
                                <button class="btn" data-toggle="modal" data-target="#logoutModal">LOGOUT</button>
                            </li>
                        </ul>
                
                {% else %}
                        <ul class="nav-list">
                            <li class="nav-list-item">
                                <div class="login_button">
                                    <a href="{% url 'login' %}"><button type="button" class="btn">LOGIN</button></a>
                                </div>
                            </li>
                        </ul>
                {% endif %}
                        
                        
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-12">
                    {% block content %}
                    {% endblock %}
                </div>
        
        
            </div>
        </div>
    </body>
</html>

