{% load static %}

<html lang="ja">
    <head>
        
        <title>MOVIE DJANGO</title>
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.0/js/bootstrap.min.js"></script>
        
        

    </head>
    <body>
        <div class="header">
            <nav class="navbar">
                <li class="nav-list-item active list-inline-item">
                    <a class="navbar-brand" href="{% url 'toppage' %}">MOVIE DJANGO</a>
                </li>
            </nav>

            {% if user.is_authenticated %}
                <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="logoutModalLabel">ログアウトします</h5>
                                <button type="button" class="close" datadismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" data-dismiss="modal">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                よろしいですか？
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary rounded-0" data-dismiss="modal">キャンセル</button>
                                <a href="{% url 'logout' %}"><button type="button" class="btn btn-danger rounded-0">ログアウト</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <nav class="navbar justify-content-md-end">
                    <li class="nav-list-item active list-inline-item">
                        <form method="GET" action="{% url 'search' %}">
                            <input type="text" name="keyword">
                            <button type="submit">検索</button>
                        </form>
                    </li>
                    <li class="nav-list-item active list-inline-item">
                        <div class="btn-group">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split rounded-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: whitesmoke;">
                                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                        <path fill-rule="evenodd" d="M2 15v-1c0-1 1-4 6-4s6 3 6 4v1H2zm6-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                    </svg>
                                    {{request.user}}
                                </button>
                                <div class="dropdown-menu rounded-0" style="background-color: whitesmoke;">
                                    <a class="dropdown-item" href="{% url 'favorites' %}">FAVORITES</a>
                                    <a class="dropdown-item" href="{% url 'movie_form' %}">UPLOAD</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">LOGOUT</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </nav>
            {% else %}
                <nav class="navbar justify-content-md-end">
                    <li class="nav-list-item active list-inline-item">
                        <div class="btn-group">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split rounded-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: whitesmoke;">
                                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-person-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                                        <path fill-rule="evenodd" d="M2 15v-1c0-1 1-4 6-4s6 3 6 4v1H2zm6-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                    </svg>
                                    {{request.user}}
                                </button>
                                <div class="dropdown-menu rounded-0">
                                    <a class="dropdown-item" href="{% url 'login' %}">LOGIN</a>
                                    <a class="dropdown-item" href="{% url 'signup' %}">SIGNUP</a>
                                </div>
                            </div>
                        </div>
                    </li>
                </nav>
            {% endif %}
        </div>
        <div class="content container">
            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <!-- Footer -->
        <footer class="page-footer font-small special-color-dark pt-4">

            <!-- Footer Elements -->
            <div class="container"></div>
            <!-- Footer Elements -->
        
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2020 Copyright: MOVIE DJANGO</div>
            <!-- Copyright -->
        
        </footer>
  <!-- Footer -->
        <script src="{% static 'app.js' %}"></script>
        <script src="{% static 'tag.js' %}"></script>
    </body>
</html>

