<form method="POST" action="comment_send" class="post-form">
    {% csrf_token %}
    {% for item in form %}
        <div class="form-group">
            {{item}}
        </div>
    {% endfor %}
</form>
<button type="submit" class="btn-sm btn-outline-secondary col-1 comment_send" id="comment_send">COMMENT</button>
{% for comment in comments %}
    <div class="comment" style="width:1080px">
        <strong>NAME : {{ comment.author }}</strong>
        <p class="addcomment">{{ comment.text }}</p>
    </div>
{% endfor %}