{% extends 'base.html' %}
{% block content %}
<div class="subtitle-favo">
    <h2>FAVORITES</h2>
</div>
    <div class="row">
        {% for movie, favorite in movies %}
            {% if favorite %}
                <div class="post-top col-md-3 col-xs-12">
                    <a href="{% url 'movie_detail' pk=movie.pk %}"><video class="border border-secondary" src="{{ movie.movies.url }}" type="video/mp4; codecs='avc.1.640029, mp4a.40.2'" style="width:100%;height:108px"></video></a>
                    <div class="date">
                        {{ movie.published_date }}
                    </div>
                    <div class="maintitle-top">
                        <h2><a href="{% url 'movie_detail' pk=movie.pk %}">{{ movie.title|truncatechars:12 }}</a></h2>
                    </div>
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-heart favorite-icon" data-movieId="{{ movie.id }}" fill="red" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                    </svg>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    {% include 'pagination.html' %}

{% endblock %}