{% extends 'base.html' %}
{% block content %}
        <form method="POST" class="post-form" enctype="multipart/form-data" action="{% url 'movie_form' %}">
            {% csrf_token %}
            {% for item in form %}
                <div class="form-group">
                    <label for="{{item.id_for_label}}">{{item.label}}</label>
                    {% if item.field.widget.input_type == "select" %}
                        <select class="custom-select" name="{{item.name}}" id="{{item.id_for_label}}">
                            <option selected>-----------</option>
                            {% for u in item.field.choices.queryset %}
                                <option value="{{ u.id }}">{{ u.username }}</option>
                            {% endfor %}
                        </select>
                    {% elif item.field.widget.input_type == "file" %}
                        <input 
                            type="{{item.field.widget.input_type}}"
                            class="form-control-file"
                            {% if item.field.required %}required{% endif %} 
                            name="{{item.name}}"
                            id="{{item.id_for_label}}"
                        >
                    {% elif item.field.widget.input_type == None %}
                        <textarea
                            class="form-control" 
                            {% if item.field.required %}required{% endif %} 
                            name="{{item.name}}" 
                            id="{{item.id_for_label}}"
                            rows="7"
                            maxlength="500"></textarea>
                    {% else %}
                        <input 
                            type="{{item.field.widget.input_type}}"
                            class="form-control" 
                            {% if item.field.required %}required{% endif %} 
                            name="{{item.name}}" 
                            id="{{item.id_for_label}}"
                            maxlength="50"
                            {% if item.value %}
                                value="{{item.value|date:'Y-m-j H:i:s'}}"
                            {% endif %}
                        >
                    {% endif %}
                </div>
            {% endfor %}
                <div class="button">
                    <button type="submit" class="save btn rounded-0" style="width:100px">UPLOAD</button>
                </div>
        </form>

{% endblock %}