{% extends 'base.html' %}
{% block content %}
    <div class="row justify-content-md-center">  
        
            <div class="post">
                    {% if request.user == movie.author %}
                        <div class="edit" style="width:1280px;">
                            <button type="button" class="edit-button btn rounded-0" style="width:100px"><a href="{% url 'movie_edit' pk=movie.pk %}">EDIT</a></button>
                        </div>
                    {% endif %}
                    <div class="date">
                        投稿日：{{ movie.published_date }}
                    </div>
                    <div class="author">
                        <p>投稿者：{{ movie.author }}</p>
                    </div>
                    
                    <div class="maintitle">
                        <h1>{{ movie.title }}</h1>
                    </div>
                    <div class="overview" style="width:1080px">
                        <p>概要：</p>
                        <p>{{ movie.overview }}</p>
                    </div>
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Input Tags" aria-label="Input Tags" aria-describedby="button-addon2" id="tag_input">
                        </div>
                        <input class="btn btn-outline-secondary" value="Add" type="submit" id="button-addon2">
                    </div>
                        <div class="row justify-content-end">
                            <div class="col-1">
                                <div>
                                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-heart favorite-icon" data-movieId="{{ movie.id }}" fill="red" xmlns="http://www.w3.org/2000/svg" id=fav-id>
                                        <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"/>
                                    </svg>
                                </div>
                                <div>
                                    <svg width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-heart favorite-icon" data-movieId="{{ movie.id }}" fill="red" xmlns="http://www.w3.org/2000/svg" id=fav-id2>
                                        <path fill-rule="evenodd" d="M8 2.748l-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    
                
            
                    <div class="col-md-auto">
                        <div class="row justify-content-md-center">
                            <video class="border border-secondary" src="{{ movie.movies }}" type="video/mp4; codecs='avc.1.640029, mp4a.40.2'" controls style="width:1280px;height:720px"></video>
                        </div>
                    </div>
                    
                
                    <div class="comment">
                        <div class="surver">
                            <button type="button" class="edit-button btn rounded-0" style="width:100px"><a href="{% url 'movie_comment' pk=movie.pk %}">COMMENT</a></button>
                        </div>
                            {% for comment in comments %}
                                <div class="comment" style="width:1080px">
                                    <strong>NAME : {{ comment.author }}</strong>
                                    <p>{{ comment.text }}</p>
                                </div>
                            {% endfor %}

                    </div>
            </div>
    </div>
{% endblock %}