{% extends 'base.html' %}
{% block content %}
    <div class="post">
            <div class="date">
                投稿日：{{ movie.published_date }}
            </div>
            <div class="author">
                <p>投稿者：{{ movie.author }}</p>
            </div>
            <div class="maintitle">
                <h1>{{ movie.title }}</h1>
            </div>
            <div class="overview">
                <p>概要：</p>
                <p>{{ movie.overview }}</p>
            </div>
            <div class="edit-button"><button type="button" class="btn btn-dark"><a href="{% url 'movie_edit' pk=movie.pk %}">EDIT</a></button></div>
        {% if movie.movies %}
                <video src="{{ movie.movies.url }}" controls style="width:1280px;height:720px"></video>
        {% endif %}
            <div class="comment">
                <div class="surver">
                    <span class="badge badge-secondary"><a href="{% url 'movie_comment' pk=movie.pk %}">コメントする</a></span>
                </div>
                    {% for comment in comments %}
                        <div class="comment">
                            <strong>NAME : {{ comment.author }}</strong>
                            <p>{{ comment.text }}</p>
                        </div>
                    {% endfor %}

            </div>
    </div>
    <a href="{% url 'delete' pk=movie.pk %}"
{% endblock %}