{% extends 'base.html' %}

{% block content %}

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">この投稿を削除します</h5>
                <button type="button" class="close" datadismiss="modal" aria-label="Close">
                    <span aria-hidden="true" data-dismiss="modal">&times;</span>
                </button>
                    
            </div>
            <div class="modal-body">
                よろしいですか？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary rounded-0" data-dismiss="modal">キャンセル</button>
                <a href="delete"><button type="button" class="btn btn-danger rounded-0">削除</button></a>
            </div>
        </div>
    </div>
</div>

    <form method="POST" class="post-form">
        {% csrf_token %}
        {% for item in form %}
            <div class="form-group">
                <label for="{{item.id_for_label}}">{{item.label}}</label>
                {{item}}
                <!-- {{{% if item.field.widget.input_type == None %}
                <textarea
                    class="form-control" 
                    {% if item.field.required %}required{% endif %} 
                    name="{{item.name}}" 
                    id="{{item.id_for_label}}"
                    rows="7"
                    maxlength="500">{{movie.overview}}</textarea>
                {% else %}
                <input 
                    type="{{item.field.widget.input_type}}"
                    class="form-control" 
                    {% if item.field.required %}required{% endif %} 
                    name="{{item.name}}"
                    id="{{item.id_for_label}}"
                    {% if item.value %}
                        value="{{item.value|date:'Y-m-j H:i:s'}}"
                        readonly
                    {% else %}
                        value="{{movie.title}}"
                    {% endif %}
                    maxlength="50"

                >
                {% endif %}}} -->
            </div>
        {% endfor %}


        <div class="button">
            <button type="submit" class="save btn rounded-0" style="width:100px">UPDATE</button>
        </div>
    
        <div class="button">
            <button class="delete btn rounded-0" data-toggle="modal" data-target="#deleteModal" style="width:100px">DELETE</button>
        </div>
    </form>
</div>
{% endblock %}