{% extends 'base.html' %}
{% block content %}

    {% for movie in movies %}
            <div class="post-top">
                {% if movie.movies %}
                    <div class ="image">
                        <h1><a href="{% url 'movie_detail' pk=movie.pk %}"><video src="{{ movie.movies.url }}" style="width:240px;height:135px"></video></a></h1>
                    </div>
                {% endif %}
                <div class="date">
                    {{ movie.published_date }}
                </div>
                <div class="maintitle-top">
                    <h1><a href="{% url 'movie_detail' pk=movie.pk %}">{{ movie.title|truncatechars:12 }}</a></h1>
                </div>
            </div>
    {% endfor %}

    {% include 'pagination.html' %}

{% endblock %}