{% extends 'base.html' %}
{% block content %}
    <div class="row">
        {% for movie in movies %}
                <div class="post-top col-md-3 col-xs-12">
                    {% if movie.movies %}
                            <a href="{% url 'movie_detail' pk=movie.pk %}"><video src="{{ movie.movies.url }}" type="video/mp4; codecs='avc.1.640029, mp4a.40.2'" style="width:100%;height:108px"></video></a>
                        
                    {% endif %}
                    <div class="date">
                        {{ movie.published_date }}
                    </div>
                    <div class="maintitle-top">
                        <h2><a href="{% url 'movie_detail' pk=movie.pk %}">{{ movie.title|truncatechars:12 }}</a></h2>
                    </div>
                </div>
        {% endfor %}
    </div>

    {% include 'pagination.html' %}

{% endblock %}