.header h1 a {
    color: rgb(255, 255, 255);
    font-size: 90px;
    font-family: inherit;
}

.header a:hover {
    color: azure;
}

.title h1 {
    margin: 0 0 20px;
    font-size: 40px;
    
}

.maintitle a ,
.maintitle {
    color: #3282B8;
    font-size: 20px;
    
}

.maintitle-top a,
.maintitle-top a:hover,
.maintitle-top {
    color: #3282B8;
    font-size: 20px;
    margin: 2px 0;
}

.maintitle-top h1 {
    margin: 0 0 5rem;
}

.author p {
    font-size:20px;
    margin: 0;
}

.header {
    margin: 0 auto 20px;
    padding: 15px 0 30px;
    text-align: center;
    text-decoration: none;
    background: #0f4c75;
}

body {
    background-color: rgb(0, 31, 0);
}

.nav-list a {
    color: #1B262C;
    font-size: 2rem;
}

.nav-list {
    list-style: none;
    text-align: right;
}

.nav-list-item {
    display: inline-block;
    margin: 0 10px;
    background-color: #BBE1FA;
    color: #1B262C;
}

li {
    margin: 0 60px;
    font-size: 20px;
}

.col-md-12 {
    margin: 0 auto;
}

.post-top {
    display: inline-block;
}

.comment .badge a {
    color: ghostwhite;
    font-size: 2rem;
}

.comment .surver {
    margin: 2rem 0 5rem;
}

.comment p {
    margin-bottom: 1rem;
    border-bottom: 1px solid black;
}

.image {
    text-align: center;
    border: 1px solid #1B262C;
}

.content {
    text-align: center;
}

.date,
.maintitle-top,
.maintitle,
.author,
.overview,
.badge,
.comment {
    text-align: left;
}

.post-form {
    display: inline-block;
}

.button {
    margin-top: 5rem;

}

.edit-button {
    color: black;
    text-align: right;
}

.overview {
    padding-right: 30rem;
}

.delete {
    margin-top: 10rem;
}

.modal-title {
    font-size: 3rem;
}

.login {
    padding: 0 30rem;
}

.nav-list .modal-header,
.nav-list .modal-body {
    text-align: center;
}

.login_button {
    background-color: #BBE1FA;
    color: #1B262C;
}

.button button {
    background-color: #0f4c75;
    color: white;
}