.header h1 a {
    color: rgb(255, 255, 255);
    font-size: 80px;
    letter-spacing: 20px;
    font-family: cursive;
}

.header a:hover {
    color: azure;
}

.title h1 {
    margin: 0 0 20px;
    font-size: 40px;
    
}

.maintitle a ,
.maintitle {
    color: darkgreen;
    font-size: 20px;
    
}

.maintitle-top a,
.maintitle-top a:hover,
.maintitle-top {
    color: darkgreen;
    font-size: 20px;
    margin: 2px 0;
}

.maintitle-top h1 {
    margin: 0 0 5rem;
}

.author p {
    font-size:20px;
    margin: 0;
}

.header {
    margin: 0 auto 20px;
    padding: 15px 0 30px;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(rgb(0, 202, 0), rgb(0, 31, 0));
}

body {
    background-color: rgb(0, 31, 0);
}

.nav-list a {
    color: ghostwhite;
    font-size: 2rem;
}

.nav-list {
    list-style: none;
    text-align: right;
}

.nav-list-item {
    display: inline-block;

}

li {
    margin: 0 60px;
    font-size: 20px;
}

.col-md-12 {
    margin: 0 auto;
}

.post-top {
    display: inline-block;
}

.comment .badge a {
    color: ghostwhite;
    font-size: 2rem;
}

.comment .surver {
    margin: 2rem 0 5rem;
}

.comment p {
    margin-bottom: 1rem;
    border-bottom: 1px solid black;
}

.image {
    text-align: center;
    border: 1px solid darkgreen;
}

.content {
    text-align: center;
}

.date,
.maintitle-top,
.maintitle,
.author,
.overview,
.badge,
.comment {
    text-align: left;
}

.post-form {
    display: inline-block;
}

.post-form p {
    text-align: left;
}


.button {
    margin-top: 5rem;

}

.edit-button {
    color: black;
    text-align: right;
}

.overview {
    padding-right: 30rem;
}

.delete {
    margin-top: 10rem;
}

.modal-content {
    margin: 30rem 60rem;    
}

.modal-title {
    font-size: 3rem;
}

.close span {
}